__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
firebase_config.json
.env
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
public/
functions/__pycache__/
functions/.env
